.mdbcolumn {
    size: 12;

}

.mdbtablehead {
    background-color: #847E7C;
    color: white;
    font-size: 1.4rem;
}

.mdbtablehead:hover {
    cursor: default;

}

.container {
    background-color: #FFF9F5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.MDBTable {
    width: 100%;
    padding: 40px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 1.2rem;
}

.candidateword {
    color: #847E7C;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 85px;
    margin-bottom: 3px;
    text-shadow: 3px 3px rgb(187, 187, 164);

}

.candidateword:hover {
    cursor: default;
}

td {
    padding: 20px 5px;
}



.numberItem {
    width: 4%;
}



.MDBTable .rowstr td {}

.searchform .searchbtn {
    color: white;
    background-color: #847E7C;
    width: 85px;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
    border: solid 1px #847E7C;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;


}

.searchform .searchbtn:hover {
    cursor: pointer;
}

.searchform .resetbtn {
    color: #847E7C;
    background-color: #FFDAC4;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    border: solid #FFDAC4 1px;
    font-weight: bold;
    font-size: 1rem;

}

.searchform .resetbtn:hover {
    cursor: pointer;
}

.searchform .searchinput {
    height: 24px;
    border-radius: 5px 0px 0px 5px;
    border: solid 2px #847E7C;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    color: #847E7C;

}

.lotus-logo {
    width: 230px;
    float: left;
}

.sortandfilter_mdb_row{
    display: inline;
    margin-top: 30px;
}

.sort_select {
    width: 50%;
    border-radius: 5px;
    height: 30px;
    color: #847E7C;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    border: solid 2px #847E7C;
    display: inline;

}

.sortandfilter_mdb_row .sort_mdb_col h5 {
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    color: #635e5c;
    display: inline;
    font-weight: bolder;
    font-size: 1rem;
    padding: 7px
}

.sortandfilter_mdb_row .sort_mdb_col {
    margin: 20px 65% 30px 0px;

}


.sortandfilter_mdb_row .filter_mdb_col{
    /* margin: -65px 0px 30px 950px; */
    margin: -65px 30px 20px 65%;

}

.filter_byh5{
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    color: #635e5c;
    display: inline;
    font-weight: bolder;
    font-size: 1rem;
    padding: 7px;

}

.filterbtn{
    color: #847E7C;
    background-color: #FFDAC4;
    width: 120px;
    height: 30px;
    border: solid 1px #FFDAC4;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    margin: 7px;
}

.unitsOption{
    color: white;
    background-color: #847E7C;
    width: 30px;
    height: 25px;
    border: solid 1px #847E7C;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    margin: 8px;

}

.livingAreaOption{
    color: white;
    background-color: #847E7C;
    width: 120px;
    height: 30px;
    border: solid 1px #847E7C;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    margin: 8px;

}

.allFilterButtons{
    display: inline;
}