.Role {
    background-color: #FFF9F5;
}

.Role .logoimg {
    display: flex;
    justify-content: left;

}

.logoimg img {
    height: 150px;
    width: 200px;
    margin-top: 10px;
}

.Role .header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.Role h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFDAC4;
    height: 50px;
    width: 200px;
    border-radius: 7px;
}

.Role .table {
    margin-left: 30px;
    padding-bottom: 20px;
}

.Role tr {
    padding: 10px;
}

.Role td {
    padding: 10px;
    margin-left: 10px;
    border-bottom: solid 1px;

}

.container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: block; */
    /* position: relative; */
    /* padding-left: 35px; */
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    align-items: center;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #eeee;
    border-radius: 5px;
}

.container:hover input~.checkmark {
    background-color: rgba(66, 63, 63, 0.305);
}

.container input:checked~.checkmark {
    background-color: #FFDAC4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}