.usersTable {
    background-color: #FFF9F5;
}

.usersTable .logoimg {
    display: flex;
    justify-content: left;

}

.logoimg img {
    height: 150px;
    width: 200px;
    margin-top: 10px;
}

.usersTable .header {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;

}

.header button {
    background-color: #FFDAC4;
    border: #FFDAC4;
    height: 30px;
    width: 90px;
    border-radius: 7px;
    margin-right: 10px;
}

.usersTable p {
    display: flex;
    align-items: right;
    justify-content: center;
    background-color: #FFDAC4;
    height: 30px;
    width: 90px;
    margin-right: 10px;
    border-radius: 7px;
}

.usersTable .table {

    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.usersTable tr {
    padding: 10px;
}

.usersTable td {
    padding: 10px;
    margin-left: 20px;
    border-bottom: solid 1px;

}